<div class="row">
  <div class="col-6">
    <p class="fs-4 text-dark">List of Tickets</p>
  </div>
  <div class="col-6">
    <%= link_to "Create new ticket", new_ticket_path, class: "btn btn-primary float-end" %>
  </div>

</div>
<%= render 'tickets/table' %>