<div class="container">
  <div class="row">
    <% if  user_signed_in? && policy(ticket).new? %>
        <p class="lead fw-bold text-primary fs-4">Your Tickets
        <%= link_to "Create new ticket", new_ticket_path, class: "btn btn-primary float-end" %></p>
    <% else %>
      <div class="col-6">
        <p class="lead fw-bold text-primary fs-4">Tickets
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'tickets/table', locals: { page: 'index', tickets: @tickets } %>
<% if current_user %>
  <%= link_to 'Go back', dashboard_path, class: 'btn btn-danger btn-sm mb-3 mt-3' %>
<% else %>
  <%= link_to 'Go back', root_path, class: 'btn btn-danger btn-sm mb-3 mt-3' %>
<% end %>
