//= require_tree .
//= require_self


@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', 'sans-serif';
}

.nav-image {
  width: 40px;
}

.profile-photo {
  width: 18%;
}

.text-center.fixed-ticket {
  color: '#008000';
  font-weight: bold;
}

